<div class="container-fluid">
    <div class="d-flex justify-content-center">
        <div class="modello">
            <h4>Registrazione Utente</h4>
            <div class="mb-3">
                <label for="" class="form-label">Username</label>
                <input type="text" class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="Username Utente">
                <label for="" class="form-label mt-4">Nome</label>
                <input type="text" class="form-control" name="" id="" placeholder="Nome Utente">
                <label for="" class="form-label">Cognome</label>
                <input type="text" class="form-control" name="" id="" placeholder="Cognome Utente">
              <label for="" class="form-label mt-4">Email</label>
              <input type="email" class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="abc@mail.com">

              <div class="mb-3 mt-3">
                <label for="" class="form-label">Password</label>
                <input type="password" class="form-control" name="" id="" placeholder="Password">

              </div>

              <div class="form-group" id="pay-now">
                <button type="submit" class="btn btn-login" id="confirm-purchase">Conferma</button>
            </div>
            </div>
        </div>
</div>

