<div class="container-fluid">
    <div class="row" style="padding: 30px;">
        <div class="col-2">
            <h2> Lista Categorie</h2>
            <table>
                <tbody>
                    <!-- <tr *ngFor="let genere of generi">
                        <td><a class="categorie" href="#">{{genere.nome}}</a></td>
                    </tr> -->
                </tbody>
            </table>
        </div>
        <div class="col-9">
            <!-- <div class="row  md-auto">
                <div class="col" *ngFor="let book of books">
                    <div class="bookCard justify-content-center">
                        <div class="card-body text-center">
                            <h5 class="card-title" style="margin-bottom: 10px;">{{book.titolo}}</h5>
                            <a href=""><img src="{{ book.imgUrl }}" class="card-img-top" alt="{{ book.titolo }}"></a>
                            <p class="card-text">di <a href="" class="autoreName">{{book.autore}}</a></p>
                            <p class="card-text">{{ book.prezzo | currency:'EUR' }}</p>
                            <a href="#" class="btn btn-primary"><i class="bi bi-cart-fill"></i> Acquista</a>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="col-1">

        </div>
    </div>
</div>

