<!-- <div class="container-fluid my-5">
    <div class="d-flex justify-content-center">
        <div class="box">
            <div class="text-center mt-3">
                <img src="https://i.imgur.com/JxsUz1j.png">
            </div>
            <div>
                <h4 class="text-center"> ...ma di cosa si tratta?</h4>
                <p class="justify-content-start">
                    Con Fabula non nasce solo un e-commerce, ma nasce un’idea, un progetto e una community di persone legate tra di loro dalla passione della scrittura e della lettura. In un panorama letterario come quello attuale, molti sono gli scrittori che tengono i propri manoscritti nel cassetto e altri e tanti sono i lettori che invece cercano proprio quelle storie che probabilmente non leggeranno mai perché mai arriveranno sugli scaffali di una libreria. <br>
                    Fabula vuole essere un luogo di ritrovo, di scambio di idee, di discussioni letterarie e anche un posto dove gli scrittori emergenti possono trovare l’aiuto necessario ed il sostegno dello staff e della community tutta per lo sviluppo e la realizzazione delle proprie idee. <br>
                    Per gli scrittori, grazie allo staff e tramite i propri servizi, Fabula vuole aiutare i giovani scrittori a trovare un posto dove poter pubblicare i propri lavori e guadagnare senza dover cedere percentuali, dove possono essere supportati e seguiti in tutto il percorso letterario che li attende!

                    <br><br>
                    Per maggiori informazioni vai alla pagina dei <a routerLink="/pacchetti" target="_self"
                        id="userIcon">pacchetti</a> o scrivi un'email al nostro staff per qualsiasi dubbio o
                    chiarimento!
                </p>
                <h4 class="text-center"> Contattaci</h4>
                <p class="text-center">
                    <i class="bi bi-envelope-at"></i> Email: <a href= "mailto:sara.cirone93@gmail.com">fabula@mail.com</a><br>
                    <i class="bi bi-discord"></i> Discord: <a href="https://discord.gg/G8u5JGfc"> Unisciti al canale!</a><br>
                    <i class="bi bi-telegram"></i> Telegram: <a href=""> Scrivici su telegram!</a>
                </p>
            </div>
        </div>
    </div> -->


    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-1 col-lg-2 col-xl-2"></div>
            <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-8">


                <div class="card mb-4 d-flex mt-5">

                    <header class="card-header">

                        <div class="cart-area d-n text-center fs-4">
                          F.A.Q e Contatti
                        </div>

                    </header>
                    <div class="card-body">
                        <p style="color: #1e8c79; font-size: 20px; text-transform: uppercase; text-align: center; font-weight: bold;"> I nostri Contatti</p>
                        <p style="font-size: 20px; text-align: center;"> <i class="bi bi-envelope-at"></i> Email: <a href= "mailto:sara.cirone93@gmail.com">fabula@mail.com</a><br>
                            <i class="bi bi-discord"></i> Discord: <a href="https://discord.gg/G8u5JGfc"> Unisciti al canale!</a><br>
                            <i class="bi bi-telegram"></i> Telegram: <a href=""> Scrivici su telegram!</a><br></p>


                        <p><span style="color: #1e8c79; font-size: 20px; text-transform: uppercase;">&bull; Che cosa &egrave; Fabula?</span> <br>
                            Fabula &egrave; prima di tutto una Community, un insieme di persone che si uniscono sotto la passione della lettura e della scrittura. Nasce come idea per creare un luogo dove gli scrittori possono essere aiutati nel loro processo creativo, possono scambiare opinioni con altri scrittori e trovare consigli per il loro testo, ed i lettori possono trovare quei libri che non trovano sugli scaffali di una libreria, parlare di questi e proporsi come beta reader a quegli scrittori che ne hanno bisogno. <br></p>

                            <p><span style="color: #1e8c79; font-size: 20px; text-transform: uppercase;">&bull; Come mi iscrivo a Fabula?</span><br>
                            Per iscriversi a Fabula bisogna far parte della community. Il sito infatti ha la funzione di vetrina, ma per registrarsi bisogna contattare lo staff di Fabula e richiedere l&rsquo;accesso alla community e al sito. Entra nella community con i contatti Discord e Telegram.</p>

                            <p><span style="color: #1e8c79; font-size: 20px; text-transform: uppercase;">&bull; Come contatto lo staff di Fabula?</span> <br>
                            &Egrave; possibile contattare lo staff di Fabula tramite i canali Discord, Telegram o per Email.</p>

                            <p><span style="color: #1e8c79; font-size: 20px; text-transform: uppercase;">&bull; Come posso acquistare i pacchetti ed i libri Fabula?</span> <br>
                            Per acquistare i pacchetti e libri Fabula &egrave; necessario contattare lo staff tramite email o tramite i canali Discord e telegram.</p>

                            <p><span style="color: #1e8c79; font-size: 20px; text-transform: uppercase;">&bull; Come posso candidarmi come staffer di Fabula?</span> <br>
                            Contattare gli staffer &egrave; semplice! Tramite i canali Discord e Telegram, gli admin o i moderatori possono essere contattati facilmente cosi da fornire supporto e accogliere la candidatura a staffer. Una volta contattato lo staffer, sar&agrave; premura dello stesso inviare al candidato il modulo da riempire per far prendere visione della richiesta.</p>

                            <p><span style="color: #1e8c79; font-size: 20px; text-transform: uppercase;">&bull; Come posso pubblicare il mio libro su Fabula? </span><br>
                            Per pubblicare un libro su fabula &egrave; necessario guardare i pacchetti disponibili sul sito e acquistare quello che si ritiene pi&ugrave; giusto per le proprie esigenze. Una volta deciso quale pacchetto acquistare &egrave; necessario contattare lo staff di Fabula sui canali Discord o Telegram che ti aiuteranno passo passo nella realizzazione e nella pubblicazione del libro in base al pacchetto acquistato.</p>


                    </div>
                </div>



            </div>
            <div class="col-12 col-sm-12 col-md-1 col-lg-2 col-xl-2"></div>
        </div>
    </div>
