.box {
    background-color: #1e8c79;
    width: 70%;
    border-radius: 20px;
}
p {
    padding: 20px;
    color: #dfdfdf;
}

img {
    width: 250px;
}

h4 {
    color: white;
}

a {
    color: aquamarine;
    text-decoration: none;
    text-transform: uppercase;
}
