<!-- <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12 mt-5 mb-5">
					<h2 class="text-center">
						I pacchetti di Fabula!
					</h2>
                    <p class="text-center fs-5"> Per acquistare un pacchetto o ricevere informazioni sui contenuti, contattaci sui nostri canali Discord e Telegram! <br><br>
                        <a class="btn btn-login btn-large" routerLink="/chisiamo">Contattaci</a></p>

				</div>
			</div>
			<div class="row">
				<div class="col-md-4 mt-sm-4">
					<div class="card">
						<h5 class="card-header">
                           Essential
						</h5>
						<div class="card-body">
							<p class="card-text fs-5">
								Il pacchetto <font color="#1e8c79" sty><b>Essential</b></font> è pensato per tutti quegli autori che hanno già completato il loro lavoro e stanno cercando un luogo dove mettere in vendita il proprio lavoro, cosi da farlo conoscere a tutti quei lettori sempre alla ricerca di nuove storie!
                                <br><br>



                                <i class="bi bi-megaphone-fill"></i> Creazione di banner pubblicitari <br>
                                <i class="bi bi-globe"></i> Condivisione mensile della pubblicità dell’opera sui canali Fabula<br>
                                <i class="bi bi-collection"></i> Inserimento dell’opera nel catalogo Fabula<br>
							</p>
						</div>

					</div>
				</div>
				<div class="col-md-4 mt-sm-4">
					<div class="card">
						<h5 class="card-header">
							Extra
						</h5>
						<div class="card-body">
							<p class="card-text fs-5">
								Il pacchetto <font color="#1e8c79" sty><b>Extra</b></font> è pensato per tutti quegli autori che hanno completato il proprio lavoro, ma hanno bisogno di qualche aiuto in più nella creazione e correzione di alcuni elementi. Lo staff di Fabula, pertanto, si offre di supportare gli autori in questa fase, fornendo loro il necessario per completare e pubblicare la propria opera!                              <br><br>

                                <i class="bi bi-search"></i> Correzione del testo<br>
                                <i class="bi bi-vector-pen"></i> Formattazione del testo<br>
                                <i class="bi bi-book-half"></i> Creazione grafica della copertina dell’opera<br>
                                <i class="bi bi-megaphone-fill"></i> Creazione di banner pubblicitari <br>
                                <i class="bi bi-globe"></i> Condivisione mensile della pubblicità dell’opera sui canali Fabula<br>
                                <i class="bi bi-collection"></i> Inserimento dell’opera nel catalogo Fabula<br>
							</p>
						</div>

					</div>
				</div>
				<div class="col-md-4 mt-sm-4">
					<div class="card">
						<h5 class="card-header">
							Premium
						</h5>
						<div class="card-body">
							<p class="card-text fs-5">
								Il pacchetto <font color="#1e8c79" sty><b>Premium</b></font> è adatto a tutti gli scrittori che sono immersi nella creazione del proprio lavoro e stanno cercando qualcuno che li aiuti e supporti nel lungo e complesso processo creativo che è la scrittura! Dalla stesura dei capitoli, alla correzione della bozza, alla creazione di copertine e pubblicità, questo pacchetto è quello più completo che supporta l’autore dall’inizio alla fine!                     <br><br>

                                <i class="bi bi-eyeglasses"></i> Un Beta Reader in affiancamento per lo sviluppo dell’idea base<br>
                                <i class="bi bi-brush"></i> Affiancamento nella stesura del testo <br>
                                <i class="bi bi-search"></i> Correzione del testo<br>
                                <i class="bi bi-vector-pen"></i> Formattazione del testo<br>
                                <i class="bi bi-book-half"></i> Creazione grafica della copertina dell’opera<br>
                                <i class="bi bi-megaphone-fill"></i> Creazione di banner pubblicitari <br>
                                <i class="bi bi-globe"></i> Condivisione mensile della pubblicità dell’opera sui canali Fabula<br>
                                <i class="bi bi-collection"></i> Inserimento dell’opera nel catalogo Fabula<br>
							</p>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>


 -->


 <div class="container-fluid p-5">
	<div class="row">
		<div class="col-md-1 col-sm-12 col-lg-1">
		</div>
		<div class="col-md-10 col-sm-12">
			<div class="row">
				<div class="col-md-4 col-sm-12">
                    <div class="box">
                        <div class="head" style="background-color: #fff;"> Essential </div>
                        <div class="body">
                            <p>
                                Il pacchetto <font color="#1e8c79" sty><b>Essential</b></font> è pensato per tutti quegli autori che hanno già completato il loro lavoro e stanno cercando un luogo dove mettere in vendita il proprio lavoro, cosi da farlo conoscere a tutti quei lettori sempre alla ricerca di nuove storie!
                                <br><br><br><br><br>

                                <span style="opacity: 0.5;"><i class="bi bi-eyeglasses"></i> Un Beta Reader in affiancamento per lo sviluppo dell’idea base<br>
                                <i class="bi bi-brush"></i> Affiancamento nella stesura del testo <br>
                                <i class="bi bi-search"></i> Correzione del testo<br>
                                <i class="bi bi-vector-pen"></i> Formattazione del testo</span><br>
                                <i class="bi bi-book-half"></i> Creazione grafica della copertina dell’opera<br>
                                <i class="bi bi-megaphone-fill"></i> Creazione di banner pubblicitari <br>
                                <i class="bi bi-globe"></i> Condivisione mensile della pubblicità dell’opera sui canali Fabula<br>
                                <i class="bi bi-collection"></i> Inserimento dell’opera nel catalogo Fabula<br>
                            </p>
                        </div>
                    </div>
				</div>
				<div class="col-md-4 col-sm-12">
                    <div class="box">
                        <div class="head" style="background-color: aquamarine"> Extra </div>
                        <div class="body">
                            <p>
                                Il pacchetto <font color="#1e8c79" sty><b>Extra</b></font> è pensato per tutti quegli autori che hanno completato il proprio lavoro, ma hanno bisogno di qualche aiuto in più nella creazione e correzione di alcuni elementi. Lo staff di Fabula, pertanto, si offre di supportare gli autori in questa fase, fornendo loro il necessario per completare e pubblicare la propria opera!                              <br><br><br>

                                <span style="opacity: 0.5;">  <i class="bi bi-eyeglasses"></i> Un Beta Reader in affiancamento per lo sviluppo dell’idea base<br>
                                <i class="bi bi-brush"></i> Affiancamento nella stesura del testo</span> <br>
                                <i class="bi bi-search"></i> Correzione del testo<br>
                                <i class="bi bi-vector-pen"></i> Formattazione del testo<br>
                                <i class="bi bi-book-half"></i> Creazione grafica della copertina dell’opera<br>
                                <i class="bi bi-megaphone-fill"></i> Creazione di banner pubblicitari <br>
                                <i class="bi bi-globe"></i> Condivisione mensile della pubblicità dell’opera sui canali Fabula<br>
                                <i class="bi bi-collection"></i> Inserimento dell’opera nel catalogo Fabula<br>
                            </p>

                        </div>
                    </div>
				</div>
				<div class="col-md-4 col-sm-12">
                    <div class="box">
                        <div class="head" style="background-color: #1e8c79; color: white;"> Premium </div>
                        <div class="body">
                            <p>Il pacchetto <font color="#1e8c79" sty><b>Premium</b></font> è adatto a tutti gli scrittori che sono immersi nella creazione del proprio lavoro e stanno cercando qualcuno che li aiuti e supporti nel lungo e complesso processo creativo che è la scrittura! Dalla stesura dei capitoli, alla correzione della bozza, alla creazione di copertine e pubblicità, questo pacchetto è quello più completo che supporta l’autore dall’inizio alla fine!                     <br><br>

                                <i class="bi bi-eyeglasses"></i> Un Beta Reader in affiancamento per lo sviluppo dell’idea base<br>
                                <i class="bi bi-brush"></i> Affiancamento nella stesura del testo <br>
                                <i class="bi bi-search"></i> Correzione del testo<br>
                                <i class="bi bi-vector-pen"></i> Formattazione del testo<br>
                                <i class="bi bi-book-half"></i> Creazione grafica della copertina dell’opera<br>
                                <i class="bi bi-megaphone-fill"></i> Creazione di banner pubblicitari <br>
                                <i class="bi bi-globe"></i> Condivisione mensile della pubblicità dell’opera sui canali Fabula<br>
                                <i class="bi bi-collection"></i> Inserimento dell’opera nel catalogo Fabula<br>
                            </p>
                        </div>
                    </div>
				</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-12 col-lg-1">
		</div>
	</div>
</div>
