<div class="container-fluid">
    <div class="d-flex justify-content-center">
        <div class="modello">
            <h4>Benvenuti nella registrazione di Fabula</h4>
            <div class="mb-3">
                <p style="text-align: justify;">Fabula è un e-commerce di Libri che vuole promuovere gli autori emergenti, fornendo loro aiuto nell'autopubbilcazione dei loro lavori e sostenerli nel futuro. Fabula mette a disposizione dei pacchetti di servizi da acquistare una sola volta, aiutando gli autori nelle fasi di pubblicazione e creazione del materiale</p>
                <p style="text-align: justify; margin-top: 20px;">Per garantire un servizio regolare ed un supporto costante, ti invitiamo a prendere visione della sezione <a routerLink="/chisiamo">Chi Siamo</a> e della sezione <a routerLink="/pacchetti">Pacchetti</a> cosi da avere una panoramica chiara di quello che Fabula offre.</p>
                <p>
                    <p style="text-align: justify; margin-top: 20px;">Ci teniamo a specificare che in fase di registrazione dovrai scegliere un account di tipo <b>Utente</b> o un account di tipo <b>Autore</b>. Entrambi gli account possono acquistare libri dal catalogo, ma solo gli <b>Autori</b> avranno nel loro profilo l'elenco dei libri che hanno messo in vendita ed altre funzioni base</p>
                    <p>
                    <h5 class="text-center">Hai dubbi? Vuoi unirti al Team Fabula? Contattaci!</h5>
                <p class="text-center">
                    <i class="bi bi-envelope-at"></i> Email: <a href= "mailto:sara.cirone93@gmail.com">fabula@mail.com</a><br>
                    <i class="bi bi-discord"></i> Discord: <a href="https://discord.gg/G8u5JGfc"> Unisciti al canale!</a><br>
                    <i class="bi bi-telegram"></i> Telegram: <a href=""> Scrivici su telegram!</a>
                </p>
                <div class="">
                    <h5 class="text-center">Che tipo di account vuoi registrare?</h5>
                    <button class="btn btn-login" routerLink="/registrazione-author">Autore</button> <button class="btn btn-login" style="margin-left: 10px;" routerLink="/registrazione-user">Utente</button>
                </div>
            </div>
            </div>
        </div>
</div>

