.bg-nav {
    background-color: #1e8c79;
    font-size: 15px;
    text-transform: uppercase;
}

#logo {
    width: 150px;
};

#logo2 {
    display: none;
}


a {
    background-image: linear-gradient(
      to right,
      #7fffd4,
      #7fffd4 50%,
      #ffffff 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;

  }

  a:before{
    content: '';
    background: aquamarine;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }

  a:hover {
   background-position: 0;
  }

  a:hover::before{
    width: 100%;
  }

  a:focus{
    font-size: larger;
    color:  #7fffd4;
    font-weight: bold;
    font-style: italic;
  }

  .btn-login {
    background-color: #7fffd4;
    text-transform: uppercase;
    font-weight: bold;
    color: #1e8c79;
  }

  @media (max-width: 991px) {
    .link i {
      display: none; /* nasconde l'icona */
    }
    .link {
      display: inline-block; /* mostra il testo del link */
    }

    a #userIcon {
        margin-left: 20px;
    }
  }

  .dropdown-menu {
    background-color: #1e8c79;
    padding: 10px;
  }

  i {
    width: 30px;
  }

  svg {
   color: white;
  }
