
.content-main {
    padding: 30px 3%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
  }

  .content-header {
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .content-header a {
    margin-right: 5px;
  }



  .card-product-grid {
    margin-bottom: 20px;
    max-width: 330px;
  }

  [class*=card-product] {
    border: 1px solid rgba(108, 117, 125, 0.25);
  }

  .card-product-grid .img-wrap {
    border-radius: 0.2rem 0.2rem 0 0;
    height: 220px;
  }

  .card {
    position: relative;
    display: flex;
    min-width: 0;
    background-clip: border-box;
    border-radius: 0.30rem;
  }


  [class*=card-product] .img-wrap {
    text-align: center;
    display: block;
    overflow: hidden;
    position: relative;
    background: white;
  }

  .card-product-grid .info-wrap {
    padding: 1rem;
  }

  .card-product-grid a.title {
    color: #6c757d;
    display: block;
    text-decoration: none;
  }

  .price {
    font-weight: 600;
  }

  .btn-light {
    background-color: #fff;
    border-color: rgba(108, 117, 125, 0.25);
  }



  .btn-sm {
    margin-right: 2%;
    width: 30px;
  }

  .btn-light i {
    color: #adb5bd;
  }


  img {
    width: 140px;
}

.autoreName {
    font-style: italic;

}

.autoreName:link {
    text-decoration: none;
    color: #1e8c79;
}

.autoreName:visited {
    text-decoration: none;
    color: #1e8c79;
}
.autoreName:hover {
    text-decoration: none;
    color: #1e8c79;
    font-weight: bold;
}


    //MEDIAQUERY//

@media (max-width: 768px) {


    .card-product-grid {
        margin-bottom: 20px;
        max-width: 100vh;
      }

      [class*=card-product] {
        border: 1px solid rgba(108, 117, 125, 0.25);
      }

      .card-product-grid .img-wrap {
        border-radius: 0.2rem 0.2rem 0 0;
        height: 220px;
      }

      .card {
        position: relative;
        display: flex;
        min-width: 0;
        background-clip: border-box;
        border-radius: 0.30rem;
      }

      [class*=card-product] .img-wrap {
        text-align: center;
        display: block;
        overflow: hidden;
        position: relative;
        background: white;
      }

      .card-product-grid .info-wrap {
        padding: 1rem;
      }

      .card-product-grid a.title {
        color: #6c757d;
        display: block;
        text-decoration: none;
      }

      .price {
        font-weight: 600;
      }

      .btn-light {
        background-color: #fff;
        border-color: rgba(108, 117, 125, 0.25);
      }



      .btn-sm {
        margin-right: 2%;
        width: 30px;
      }

      .btn-light i {
        color: #adb5bd;
      }


      img {
        width: 140px;
    }

    .autoreName {
        font-style: italic;

    }

    .autoreName:link {
        text-decoration: none;
        color: #1e8c79;
    }

    .autoreName:visited {
        text-decoration: none;
        color: #1e8c79;
    }
    .autoreName:hover {
        text-decoration: none;
        color: #1e8c79;
        font-weight: bold;
    }


}
