<div class="container-fluid my-5">
    <div class="d-flex justify-content-center">
      <div class="box">
          <div class="text-center mt-3">
              <img src="https://static.thenounproject.com/png/1527904-200.png">
          </div>
          <div>
              <h2 class="text-center"> Errore 404</h2>
              <p class="justify-content-start"> La pagina che stai tentando di visualizzare non esiste!</p>
          </div>
          <div>

        <form class="d-flex ms-auto justify-content-center">
           <a routerLink="/home">Torna indietro</a>
          </form>
        </div>
      </div>
    </div>
